.site-content{
	margin: 130px auto;
	width: 940px;
	height: 1500px;
	font-family: Circular,Helvetica,Arial,sans-serif;
 
}
 
.title{
 
		font-size: 46px;
		font-weight: 100;
		color: #484848;
		margin-bottom: 60px;
	}
.title span{
		font-weight: 800;
		color: #FF5A5F;
	}
 
.price-stamp{
		margin: -180px 0 0 12px;
		color: #fff;
		font-weight: 900;
		font-size: 22px;
		text-shadow: 0 0 6px #615e61;
	}
	.description{
		margin: 180px 0 0 0;
		font-size: 14px;
		color: #484848;
	}
.description h4{
        font-weight: 900;
		font-size: 14px;
		color: #484848;
	}

/*---line---*/

hr{
    border: 0;
    height: 1px;
    background: #DCE0E0;
		margin-bottom: 55px;
}
.picktitle{
margin-bottom:20px;
 
}
 
 
