.site-content{
	margin: 130px auto;
	width: 940px;
	height: 1500px;
    font-family: 'Plus Jakarta Sans', sans-serif;
 
}
 
.title{
 
		font-size: 46px;
		font-weight: 100;
		color: #484848;
		margin-bottom: 60px;
	}
.title span{
		font-weight: 800;
		color: #FF5A5F;
	}
 
.description{
        font-family: 'Plus Jakarta Sans', sans-serif;
        float : left; 
		margin: 180px 0 0 0;
		color: #484848;
        
	}
.description h4{
        
		font-size: 14px;
        font-weight:700;
}
 
.price-stamp{
        padding-top:0px;
		margin: -180px 0 0 12px;
		color: #fff;
		font-weight: 900;
		font-size: 22px;
		text-shadow: 0 0 6px #615e61;
	}
.picktitle{
margin-bottom:20px;
 
}
.img-fluid{
max-height:190px;
max-width: 290px

}
 
header{
background-color: white; 
overflow: visible; position: fixed;
top: 0; left: 0; right: 0; width:100%
position: fixed; 
height: 61px; 
border: 1px solid #DCE0E0;



}

.logo{
float: left; 
height:61px;
border-right: 1px solid #DCE0E0;

}

.logo img{
height: auto; 
width: 80px; 
margin:17px 15px; 

}

.search-bar{
height:61px; 
width: 800px;  

display: inline-block; 
}

.search-bar input{
border: none; 
outline: none ; 
margin: 15px 20px ; 

}

.nav{

margin-top: 0px; 
float: right; 
height:61px; 
}

.list-items{
float: left;
list-style: none;
padding: 18px 15px ;
border-left: 1px solid #DCE0E0;
height:61px; 
}
.list-items:hover{
cursor: pointer; 
background-color: #DCE0E0;
transition: 500ms ease;

}
